<html>
	<head>
	<title>Contact</title>
	</head>
	<body style='margin: 10px; font-family:arial; '>
	
	<table  style='padding: 5px; background: #E8EBF0; width: 800px; border-radius: 10px;'>
	<tr><td><h1>Newsletter Subscription</h1></td></tr>
	<tr><td>

		<table border='1' style='padding: 5px; width: 100%; background: #E8EBF0; margin:auto; font-family: Arial, Helvetica, sans-serif; font-size: 13px;'>
		<tr><td>

		<p style=' margin: 5px;color:#0D4480;'>Hi [USERNAME]</p>
		<p style='text-indent:50px;color:#0D4480;'>[MESSAGE]</p> 


		<p style=' margin: 20px 0 10px 10px; color:#0D4480;'> Thank You, <br/>
		Support Team </p>
			
		</td></tr></table>

	</td></tr>

	<tr>
	<td style='color: #0D4480; font-size:10px; margin-top: 10px; padding: 8px 30px 5px 100px; width: 500px; text-align:center'>
	
	</td></tr>
	</table>

	</body>
</html> 
